<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        * {
            font-family: "Roboto", sans-serif;
            box-sizing: border-box;
        }
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .background {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .barLeft {
            width: 250px;
            height: 100%;
            background-color: rgb(28, 35, 46);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-y: auto;
        }
        .bodyRight {
            position: relative;
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow: auto;
        }
        .bodyUpperSection {
            width: 100%;
            flex-grow: 0;
            background-color: rgb(3, 155, 229);
            margin: 0;
            padding: 0;
        }
        .bodyLowerSection {
            width: 100%;
            flex-grow: 1;   
            background-color: rgb(231,235,237);
        }
        .overPage {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        
        .barTitle {
            font-size: 27px;
            letter-spacing: 2px;
        }
        .sideBarTitle {
            width: 100%;
            height: 140px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .headerLogo {
            width: 100%;
        }

        .sideBarTopic {
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid rgb(56, 70, 90);
            cursor: pointer;
        }
        .sideBarTopic:hover {
            background-color: rgb(56, 70, 90);
        }
        .sideBarMain {
            font-size: 18px;
            color: white;
            margin-bottom: 5px;
            letter-spacing: 0.5px;
        }
        .sideBarSecondary {
            font-size: 13px;
            color: #aaa;
        }
        .sideBarOverview {
            color: rgb(67,181,245);
            padding: 20px;
            border-top: 1px solid rgb(56, 70, 90);
            border-bottom: 1px solid rgb(56, 70, 90);
        }
        .sideBarOverview:hover {
            background-color: rgb(56, 70, 90);
            cursor: pointer;
        }
        .topBar {
            width: 100%;
            height: 50px;
            /* background-color: red; */
            color: rgba(255,255,255,0.6);
            padding: 10px;
        }
        .secondaryBar {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 30px;
            color: white;
        }
        .mainBody {
            width: 60%;
            height: 400px;
            background-color: white;
            margin: auto;
            border-radius: 10px;
            -webkit-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            -moz-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            overflow: auto;
            padding: 10px;
            margin-top: 50px;
        }
        .addAlert {
            width: 100%;
            position: relative;
            /* height: 400px; */
            /* background-color: white; */
            
            /* border-radius: 10px; */
            
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .recentActivity {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid grey;
            display: flex;
            flex-direction: row;
            font-size: 16px;
        }
        .recentUser {
            color: red; 
        }
        .recentInfo {
            color: blue;
        }
        .recentDate {
            color: black;
        }
        .expandingCourses {
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.2s linear;
        }
        .expandedLink {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            color: #aaa;
            font-size: 13px;
        }
        .expandedLink:hover {
            background-color: rgb(56, 70, 90);
        }
        .expandedTopic {
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid rgb(56, 70, 90);
            cursor: pointer;
        }
        .openSideBar {
            position: fixed;
            top: 10px;
            left: 10px;
            color: white;
            width: 50px;
            height: 50px;
            font-size: 22px;
            opacity: 0.5;
            display: none;
            z-index: 100;
            cursor: pointer;
        }
        .addAlertHeader {
            font-size: 22px;
            font-weight: 300;
            margin: auto;
            margin-bottom: 10px; 
            width: 60%;
        }
        .sendAlertHolder {
            width: 60%;
            margin: auto;
        }
        .sendAlert {
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 130px;
            text-align: center;
            margin-top: 20px;
            /* height: 30px; */
            background-color: rgb(3,155,229);
            font-size: 15px;
            letter-spacing: 1px;
            cursor: pointer;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
            -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

        }
        .addAlertInfo {
            width: 60%;
            background-color: white;
            -webkit-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            -moz-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            overflow: auto;
            margin: auto;
            padding: 10px;
        }
        .textareaHeader {
            width: 100%;
            /* padding-left: 10px; */
            padding-top: 10px;
            font-size: 17px;
            font-weight: 500;
            color: #174ea6;
        }
        textarea {
            outline: none;
            font-size: 18px;
        }
        .extendedBar {
            left: 0px !important;
        }
        @media screen and (max-width: 1000px) {
            .barLeft {
                /* display: none; */
                transition: left 0.2s linear;
                position: absolute;
                top: 0px;
                left: -250px;
                z-index: 5;
            }
            .openSideBar {
                display: block;
            }
            .topBar {
                visibility: hidden;
            }
        }
        @media screen and (max-width: 768px) {
            .mainBody {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="openSideBar" onclick = "openSideBar()">
        <i class="fas fa-bars"></i>
    </div>
    <div class = "background">
        <div class="barLeft" id = "barLeft">
            <div class="sideBarTitle">
                    <img class = "headerLogo" src = "/public/images/logo_transparent.png" />
            </div>
            <div class="sideBarOverview">
                <div class="overViewMain">
                    School Overview
                </div>
            </div> 
            <div class="sideBarTopic" onclick = "window.location = '/dashboard/masterSchedule/'">
                <div class="sideBarMain">
                    Master Schedule
                </div>
                <div class="sideBarSecondary">
                    Edit and view the master schedule
                </div>                
            </div>
            <div class="sideBarTopic" onclick = "expandCoursesBar(this)" >
                <div class="sideBarMain">
                    Courses
                </div>
                <div class="sideBarSecondary" id = "courseSecondary">
                    Add, edit, and remove courses
                </div>        
                <div class = "expandingCourses" id = "expandingCourses">
                    <div class="expandedLink" onclick="window.location = '/dashboard/courses/categories'">
                        Categories
                    </div>
                    <div class="expandedLink" onclick="window.location = '/dashboard/courses/teachers'">
                        Teachers
                    </div>
                    <div class="expandedLink" onclick="window.location = '/dashboard/courses/courses'">
                        Courses
                    </div>
                    <div class="expandedLink" onclick="window.location = '/dashboard/courses/codes'">
                        Codes
                    </div>
                </div>
            </div>
            <div class="sideBarTopic" onclick = "window.location = '/dashboard/events/'" >
                <div class="sideBarMain">
                    Events
                </div>
                <div class="sideBarSecondary">
                    Add, edit, and remove events
                </div>                
            </div>
            <div class="sideBarTopic" onclick = "window.location = '/dashboard/configure/'" >
                <div class="sideBarMain">
                    Configure
                </div>
                <div class="sideBarSecondary">
                    Change information displays
                </div>                
            </div>
            <div class="sideBarTopic" onclick = "window.location = '/dashboard/users/users/'">
                <div class="sideBarMain">
                    Users
                </div>
                <div class="sideBarSecondary">
                    View users and permissions
                </div>                
            </div>
        </div>
        <div class="bodyRight">
            <div class = "bodyUpperSection">
                <div class="topBar">
                    PVSS (sd83)
                </div>
                <div class="secondaryBar">
                    <div class="barTitle">
                        PVSS (sd83)
                    </div>
                </div>
            </div>
            <div class = "bodyLowerSection">
                <div class="mainBody">
                    <% for (var i = recent.length-1; i > (recent.length-100 > 0 ? recent.length-100 : -1); i--) { %>
                        <div class="recentActivity">
                            <div class="recentUser"><%=recent[i].user%> </div>&nbsp;
                            <div class="recentInfo"><%=recent[i].info%> on </div>&nbsp;
                            <div class="recentDate"><%=recent[i].dateString%> </div>&nbsp;                            
                        </div>
                    <% } %>
                </div>
                <div class="addAlert">
                    <div class="addAlertHeader">Mass Alert</div>
                    <div class="addAlertInfo">
                        <div class="alertInfo">
                            <div class="textareaHeader">
                                    text
                            </div>
                            <textarea id = "alertText"></textarea>
                        </div>
                        <div class="alertLink">
                            <div class="textareaHeader">
                                link (optional)
                            </div>
                            
                            <textarea id = "alertLink"></textarea>
                        </div>
                        
                    </div>
                    <div class="sendAlertHolder">
                        <div class="sendAlert" id="sendAlert" onclick = "sendAlert()">
                            CREATE ALERT
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let coursesExpanded = false;
    function expandCoursesBar(element) {
        let courses = document.getElementById("expandingCourses");
        let courseSecondary = document.getElementById("courseSecondary");
        if (coursesExpanded) {
            courses.style.maxHeight = "0px";
            coursesExpanded = false;
            element.className = "sideBarTopic";
            courseSecondary.style.visibility = "visible";
        } else {
            courses.style.maxHeight = "150px";
            coursesExpanded = true;
            element.className = "expandedTopic";
            courseSecondary.style.visibility = "hidden";
        }
    }
    function openSideBar() {
        let bar = document.getElementById("barLeft");
        console.log(bar);
        bar.classList.toggle("extendedBar");
    }
    let alertOut = false;
    function sendAlert() {
        let alertText = document.getElementById("alertText").value;
        let alertLink = document.getElementById("alertLink").value;
        alertOut = true;
        if (alertText) {
            let loadRequest;
            if (window.XMLHttpRequest) {
                // code for modern browsers
                loadRequest = new XMLHttpRequest();
            } else {
                // code for old IE browsers
                loadRequest = new ActiveXObject("Microsoft.XMLHTTP");
            }
            loadRequest.onreadystatechange = function() {
                alertOut = false;
                if (this.readyState == 4 && this.status == 200) {
                    let response = JSON.parse(this.responseText);
                    if (response == true) {
                        document.getElementById("alertText").value = "";
                        document.getElementById("alertLink").value = "";
                    }
                } else {
                    
                }
            }
            loadRequest.open("POST", "/createSchoolAlert", true);
            loadRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            loadRequest.send("alertText=" + alertText + "&alertLink=" + alertLink); 
        }
    }
</script>
</html>