<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title></title>
    <style>
      * {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
      }
      html, body {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
      }
      .navbar {
        width: 100%;
        height: 130px;
        background-color: #316e97;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 50px;
        justify-content: start;
        position: relative;
      }
      .navbar-bottom-expand {
        width: 100%;
        height: 265px;
        max-height: 0px;
        overflow: hidden;
        background-color: #316e97;
        transition: max-height 0.2s ease-out;
      }
      .navbar-bottom-expanded {
        max-height: 265px;
      }
      .navbar-bottom-expand-item {
        width: 100%;
        padding: 15px 30px;
        color: white;
        font-size: 17px;
      }
      .navbar-bottom-expand-item a {
        text-decoration: none;
        color: inherit;
      }
      .navbar-bottom-expand a:hover {
        color: #ede053;
      }
      .navbar-items-holder {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .logo-holder {
        height: 75%;
      }
      .logo {
        height: 100%;
      }
      .navbar-item {
        color: white;
        font-size: 22px;
        display: inline-block;
        margin: 0px 20px;
        cursor: pointer;
      }
      .navbar-item a {
        text-decoration: none;
        color: inherit;
      }
      .selected-item {
        color: #ede053;
      }
      .navbar-item:hover {
        color: #ede053;
      }
      .view {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 20px;
      }
      .view-1 {
        background-color: #eee;
        padding-bottom: 20px;
      }
      .view-2 {
        background-color:#69afdc;
      }
      .view-3 {
        background-color: white;
      }
      .row-container {
        width: 100%;
        text-align: justify;
      }
      .flex-row-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .space-between {
        justify-content: space-between;
      }
      .space-around {
        justify-content: space-around;
      }
      .space-evenly {
        justify-content: space-evenly;
      }
      .white {
        color: white;
      }
      .view-header {
        text-align: center;
        padding: 0px 15px 30px 15px;
      }
      .view-header h1 {
        font-size: 34px;
        margin-bottom: 0px;
      }
      .view-header h5 {
        margin-top: 15px;
      }   
      .screen-display {
        height: 400px;
        display: inline-block;
      }
      .screen-display img {
        height: 100%;
      }
      .footer {
        background-color: #222222;
        padding: 50px;
      }
      .navbar-expand-icon {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15px;
        right: 15px;
        display: none;
      }
      .navbar-expand-icon svg {
        width: 100%;
        height: 100%;
        fill: white;
      }
      .feature-list {
        width: 80%;
        margin: auto;
        margin-top: 20px;
      }
      .feature-title {
        font-size: 28px;
      }
      .feature-body {
        width: 90%;
      }
      .feature-body-item {
        width: 20%;
        display: inline-block;
        padding: 15px;
      }
      .card-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .card {
        width: 300px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        display: inline-block;
        margin: 20px 50px 30px 50px;
        flex-grow: 0;
        height: 0%;
        position: relative;
      }
      .card-body {
        height: 200px;
      }
      .card-body .screen {
        height: 95%;
        margin: auto;
        margin-top: 2.5%;
      }
      .screen img {
        display: block;
        margin: auto; 
        height: 100%;
      }
      .card-bottom {
        background-color: #f5f5f5;
        padding: 10px 5px;
        position: relative;
      }
      .card-bottom-title {
        font-size: 20px;
        font-weight: 600;
        width: 87%;
      }
      .card-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: white;
      }
      .card-cover-title-row {
        width: 100%;
        padding: 15px 10px;
        text-align: justify;
      }
      .card-cover-body {
        width: 100%;
        padding: 0px 20px;
        font-weight: 300;
      }
      .card-cover-title {
        font-size: 22px;
        font-weight: 600;
        display: inline-block;
        width: 80%;
        vertical-align:text-top;
        text-align: left;
      }
      .close-card-cover {
        display: inline-block;
        cursor: pointer;
        position: relative;
        top: 10px;
      }
      .justify-bottom-row {
        width: 100%;
        height: 0px;
        display: inline-block;
      }
      .ellipsis {
        height: 30px;
        width: 30px;
        text-align: center;
        position: absolute;
        top: calc(50% + 5px);
        transform: translateY(-50%);
        right: 15px;
        cursor: pointer;
      }
      .ellipsis img {
        height: 100%;
      }
      @media screen and (max-width: 980px) {
        .navbar {
          padding-left: 5px;
        }
        .navbar-item {
          font-size: 17px;
        }
      }
      @media screen and (max-width: 830px) {
        .navbar-items-holder {
          display: none;
        }
        .navbar-expand-icon {
          display: block;
        }
        .feature-body-item {
          display: block;
          width: 100%;
        }
      }
      @media screen and (max-width: 430px) {
        .screen-2 {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <!-- add Served school districts -->
    <div class="navbar">
      <a href = "/home" class = "logo-holder"><img class = "logo" src = "/public/images/logo_transparent_white.png"/></a>
      <div class="navbar-items-holder">
        <div class="navbar-item"><a href = "/home/inquiries">Inquiries</a></div>
        <div class="navbar-item"><a href = "/home/administrators">Administrators</a></div>
        <div class="navbar-item selected-item"><a href = "/home/students">Students</a></div>
        <div class="navbar-item"><a href = "/home/districts">Districts</a></div>
        <div class="navbar-item"><a href = "/home/contact">Contact</a></div>
      </div>
      <div class="navbar-expand-icon" onclick = "toggleNavbarBottom()">
          <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 125"><g transform="translate(0,-952.36218)"><path d="m 8.9999999,970.36217 0,10 82.0000001,0 0,-10 z m 0,27.00002 0,10.00001 82.0000001,0 0,-10.00001 z m 0,27.00001 0,10 82.0000001,0 0,-10 z" style="text-indent:0;text-transform:none;direction:ltr;block-progression:tb;baseline-shift:baseline;color:#000000;enable-background:accumulate;" fill-opacity="1" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"/></g></svg>
      </div>
    </div>
    <div class="navbar-bottom-expand" id = "navbar-bottom-expand">
      <div class="navbar-bottom-expand-item"><a href = "/home/inquiries">Inquiries</a></div>
      <div class="navbar-bottom-expand-item"><a href = "/home/administrators">Administrators</a></div>
      <div class="navbar-bottom-expand-item selected-item"><a href = "/home/students">Students</a></div>
      <div class="navbar-bottom-expand-item"><a href = "/home/districts">Districts</a></div>
      <div class="navbar-bottom-expand-item"><a href = "/home/contact">Contact</a></div>
    </div>
    <div class="view view-2">
      <div class="view-header white">
        <h1>Connect to your classmates. Keep up to date. Never miss a class again</h1>
        <h5>A simple to use interface means you'll always be up to date</h5>
      </div>
    </div>
    <div class="view view-3">
      <div class="view-header">
        <h1>Innovative features built specifically for students</h1>
        <h5>What matters, when it matters</h5>
      </div>
      <div class="card-box">
          <div class="card" style = "background-color: #a8c9ff;">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                <img src="/public/images/simulatedScreen.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                Daily Schedule - Instantly view today
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Daily Schedule - Instantly view today
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                Quickly view all of your courses with times and teachers in line. Quick links will direct you to the page for 
                that class
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #dfa8ff">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatedScreenHome.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                Upcoming events. Current and next class
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Upcoming events. Current and next class
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                At a glance, view what's important. Where you are now, where you should be next, and what's happening soon. It's that simple
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #ffa8ac">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatedScreenCalendar.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                Calendar - what's coming, before it does
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Calendar - what's coming, before it does
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                View all the events happening over the course of the year, in a carousel fashion. A simple click will display all the information about an event
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #ffd7a8">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatedScreenNotes.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                Community driven notes and assignments
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Community driven notes and assignments
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                View notes and assignments submitted by classmates, teachers, or administrators. Student submitted assignments mean you can stay up to date even with a 
                slacking teacher
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #faffa8">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatedScreenEvents.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                List event view. All the years events, in order
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  List event view. All the years events, in order
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                Quickly view all the event in a year, sorted by date. A simple list view means easy access to everything that's going on
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #d4ffa8">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatedScreenCourses.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                Centralized list course selection
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Centralized list course selection
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                Coordinate your classes from a centralized list that allows you to communicate with classmates. A simple dropdown menu gives a simple display of all the available courses
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #afe8ff">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatedScreenSchedule.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                  Full week schedule. The whole week at once
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Full week schedule. The whole week at once
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                A panel based view of your weekly schedule. Each week is displayed as a simple scroll table, so you never have to wonder about what's coming up again
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #d3afff">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatorSignup.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                Student ID based automatic course entry
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Student ID based automatic course entry
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                Student ID entry allows our servers to handle course entry - you just sit back, relax, and let us do the work
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #ffafc4">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatedScreenTheme.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                Theme and Colour selection
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Theme and Colour selection
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                Customize your screens to fit your liking. You can pick between light theme, dark theme, and a multitude of secondary colours
              </div>
            </div>
          </div>
          <div class="card" style = "background-color: #ffefaf">
            <div class="card-body" onclick = "toggleCardBottom(this.parentNode)">
              <div class="screen">
                  <img src="/public/images/simulatedScreenAccount.png" alt="">
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title">
                  Course name personalization
              </div>
              <div class="ellipsis" onclick = "toggleCardBottom(this.parentNode.parentNode)">
                <img src = "/public/icons/ellipsis.svg">
              </div>
            </div>
            <div class="card-cover">
              <div class="card-cover-title-row">
                <div class="card-cover-title">
                  Course name personalization
                </div>
                <div class = "close-card-cover" onclick = "toggleCardBottom(this.parentNode.parentNode.parentNode)"><svg focusable="false" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></div>
                <div class="justify-bottom-row"></div>
              </div>
              <div class="card-cover-body">
                In the event that we don't have one of your courses, that's okay! You can still enter it in to your schedule with customizable course and block names
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="footer">

    </div>
    <script>
      function toggleNavbarBottom() {
        document.getElementById("navbar-bottom-expand").classList.toggle("navbar-bottom-expanded");
      }
      function toggleCardBottom(card) {
        console.log(card);
        for (var i = 0; i < card.children.length; i++) {
          if (card.children[i].classList.contains("card-cover")) {
            if (card.children[i].getAttribute("expanded") != "true") {
              card.children[i].style.maxHeight = "100%";
              card.children[i].setAttribute("expanded", "true");
            } else {
              card.children[i].style.maxHeight = "0px";
              card.children[i].setAttribute("expanded", "false");
            }
          }
        }
      }
    
    </script>
  </body>
</html>
