<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        body {
            width: 100%;
            padding: 0px;
            margin: 0px;
            padding-top: 50px;
        }
        .homeHeader {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 50px;
            background: linear-gradient(to right, rgb(0,153,153), rgb(0,130,209));
            z-index: 100;
        }
        .homeRow {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 0px 20px;
            align-items: center;
        }
        .displayText {
            color: white;
            font-size: 24px;
        }
        .bodyLine {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: start;
            align-items: center;
        }
        .backIcon {
            color: white;
            font-size: 22px;
            font-weight: 300;
        }
        .spacerIcon {
            color: white;
            font-size: 22px;
            visibility: hidden;
            font-weight: 300;
        }
        .event {
            width: 95%;
            margin: auto;
            padding: 10px;
            background-color: #ffef8c;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .event div {
            margin: 5px 0px;
            /* font-size: 13px; */
            /* text-align: right; */
        }
        .eventInfo {
            
            font-size: 15px;
        }
        .eventDate {
            font-size: 15px;
            font-weight: 600;
        }
        .schoolSkipped {
            font-size: 12px;
            /* font-weight: 700; */
        }
        .eventBlockHolder {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            border-radius: 5px;
            padding: 5px 15px 10px 15px;
            color: white;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            display: flex;
            flex-direction: column;
        }
        .eventBlockHeader {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            border-radius: 5px;
            padding: 5px 15px 10px 15px;
            color: white;
            /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
        }
        .blockBottom {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .eventBlockMain {
            font-size: 18px;
            color: white;
        }
        .eventBlockSecondary {
            font-size: 14px;
            opacity: 0.7;
        }
    </style>
</head>
<body>
    <div class="homeHeader">
        <div class="homeRow">
            <div class="backIcon" onclick = "window.location='/account'"><i class="fas fa-chevron-left"></i></div>
            <div class="displayText">Events</div>
            <div class="spacerIcon"><i class="fas fa-chevron-left"></i></div>
        </div>
    </div>
    <% for (var i = 0; i < events.length; i++) { %>
        <% if (events[i].displayedEvent) { %>
            <div class = "eventBlockHolder" style = "background: linear-gradient(#5cc0e8, #5c9be8)">
                <div class = "eventBlockHeader">
                    <%=events[i].info%>
                </div>
                <div class="blockBottom">
                    <div class="eventBlockMain">
                        <%=moment(events[i].date).format("DD-MM-YYYY")%>
                    </div>
                    <div class="eventBlockSecondary">
                        <%=events[i].time%>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %> 
</body>
</html>