<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <title></title>
    <style>

      @font-face {
        font-family: sansFont;
        src: url("<%=font%>")
      }
      * {
        font-family: sansFont, sans-serif;
        box-sizing: border-box;
        color: var(--text-color);
      }
      body {
        background-color: <%=colours.bgColor%>
      }
      .bodyContents {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
      }
      .spacer {

        flex-grow: 1;
      }
      .button {

        padding-top: 30px;
        padding-bottom: 30px;
        min-width: 300px;
        /* flex-grow: 1; */
        margin: 5px;
        text-align: center;
        background-color: <%=colours.buttonColor%>;
      }


    </style>
  </head>
  <body>
    <div class = "bodyContents">
      <div class = "button" id = "blockSchedule"><a href = "/admin/block-schedule">Block Schedule</a></div>
      <!-- <div class = "spacer"></div> -->
      <div class = "button" id = "courses"><a href = "/admin/courses">Courses</a></div>

      <div class = "button" id = "events"><a href = "/admin/events">Events</a></div>

      <div class = "button" id = "configure"><a href = "/admin/configure">Configure</a></div>

      <div class = "button" id = "permissions"><a href = "/admin/user-permissions">User Permissions</a></div>

      <div class = "button" id = "logo"><a href = "/admin/photos">Photos / Logo</a></div>


    </div>
    <div style = "position: fixed; bottom: 20px; left: 0">
      <a href  = "/" style = "color: black; font-size: 45px; text-decoration: none">&#8592;</a>
    </div>
  </body>
</html>
