<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <title></title>
    <style>
      * {
        font-family: sans-serif;
      }

    </style>
  </head>
  <body>
    <div class = "back" style = "font-size: 40px; position: fixed; bottom: 10px; z-index: 20">
      <a href = "/" style = "text-decoration:none; color:blue">&#8592;</a>
    </div>
    <form method = "get" action = "/homework-sd83">
      username: <input type = "text" name = "username" />
      password: <input name = "password" type = "password" />
      <input type = "submit" />

    </form>
    <% for (var i = 0; i < homework.length; i++) { %>
      <% for (var j = 0; j < homework[i].length; j++) { %>
        <%=homework[i][j]%>
        <br>
      <% } %>
      <br>
      <br>
    <% } %>
  </body>
</html>
