<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name = "description" content = "The PVSS student website. View your courses, schedule, resources, and more here. Made by a PVSS student for PVSS students." />
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Login</title>
    <script>

    </script>
    <style>
      @font-face {
        font-family: sansFont;
        src: url("/public/fonts/LANENAR_.ttf")
      }
      * {
        font-family: sansFont, sans-serif;
        box-sizing: border-box;
        color: rgb(216, 215, 143);
      }
      html {
        -webkit-text-size-adjust: 100%;
      }
      body {
        padding: 0px;
        margin: 0px;
        background-color: rgb(79, 49, 48);
      }
      /* .backdrop {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;

      } */
      /* #login {
        width: 90%;
        height: 50%;
        display: block;
        margin: auto;
        background-color: white;
        border-radius: 15px;
        margin-top: 15%;
      } */
      #login {
        display: block;
        margin: auto;


        bottom: 100px;
      }
      .userInput {
        display: block;
        width: 100%;
        border: 1px solid grey;
        height: 40px;
        outline: none;
        font-size: 18px;
        background-color: rgb(117, 55, 66);
      }
      #submit {
        width: 100%;
        height: 60px;
        background-color: rgb(170, 80, 66);
        font-size: 25px;
        margin-top: 10px;
        outline: none;
        border: none;
        -webkit-appearance: none;

      }

      .error {
        color: red;
        width: 100%;
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 50px;

      }
      @media screen and (min-width: 768px) {
        .labelInput {
          width: 400px;
          display: block;
          margin:auto;
        }
        .userInput {
          width: 100%;
          display:block;
          margin: auto;
        }
        #submit {
          width: 400px;
          display: block;
          margin: auto;
        }
        #login {
          width: 500px;


          border: 1px solid black;
        }
        #inputs {
          padding-top: 200px;
          padding-bottom: 200px;
        }
      }



    </style>
  </head>
  <body>
    <div class = "backdrop">
      <div class = "error">
        <%=error%>
      </div>
      <div style = "width: 100%; height: 100px; display: block;">

      </div>
      <div id = "login">
        <form id = "inputs" method = "POST" action = "/login">
          <div class = "labelInput"><label for "logname">Username: </label><input type = "text" name = "logname" placeholder = "Enter Username..." class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div>
          <br>
          <div class = "labelInput"><label for "logword">Password: </label><input type = "password" name = "logword" placeholder = "Enter Password..."class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div>
          <br>
          <input type = "submit" id = "submit">
        </form>
        <br>
        <br>
        <center><i><h5>don't have an account? <a href = "/signup" style = "color: rgb(216, 215, 143)">sign up</a></h5></i></center>
        <br>
        <center><h5>Or, view the <a href = "/calendar">calendar here</h5></center>
      </div>
    </div>
  </body>
</html>
