<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name = "description" content = "The PVSS student website. View your courses, schedule, resources, and more here. Made by a PVSS student for PVSS students." />
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "theme-color" content = "orange" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Login</title>
    <script>
      window.onload = function() {
        if (navigator.cookieEnabled) {

        } else {
          document.getElementById("error").innerHTML = "This website uses cookies to store your session data, and nothing else. please enable them to continue.";
        }
      }

    </script>
    <style>
      @font-face {
        font-family: sansFont;
      }
      * {
        font-family: sans-serif;
        box-sizing: border-box;
        color: rgb(216, 215, 143);
      }
      html {
        -webkit-text-size-adjust: 100%;
      }
      body {
        padding: 0px;
        margin: 0px;
        background-color: rgb(79, 49, 48);
      }
      #login {
        display: block;
        margin: auto;
        position: fixed;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
      }
      .iconContainer {
        /* width: 60%; */
        height: 40px;
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #aaaaaa;
        float: right;
        margin-right: 10px;
        background-color: white;
      }
      .selectGreen {
        outline: #2ded6d;
      }
      .icon {
        width: 40px;
        height: 40px;
        background-color: #dddddd;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        border-right: 1px solid #aaaaaa;
        overflow: hidden;
      }
      .icon .usernameIcon {
        position: relative;
        top: 4px;
        width: 40px;
        height: 40px;
      }
      .icon .passwordIcon {
        position: relative;
        top: 4px;
        width: 40px;
        height: 40px;
      }
      .labelInput {
        font-size: 22px;
        margin-bottom: 30px;
        margin-left: 10px;
      }
      .labelInput label {
        position: relative;
        top: 5px;
      }
      .spacer {
        flex-grow: 1;
      }
      .userInput {
        margin-left: 2px;
        border: 0;
        /* flex-grow: 1; */
        width: 150px;
        height: 40px;
        font-size: 18px;
        outline: none;
      }
      #submit {
        width: 150px;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        background-color: rgb(170, 80, 66);
        border-radius: 3px;
        font-size: 25px;
        margin-top: 10px;
        position: absolute;
        right: 10px;
        outline: none;
        border: none;
        -webkit-appearance: none;
      }

      .error {
        color: red;
        width: 100%;
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 50px;

      }
      .createSchool {
        position: absolute;
        bottom: 25px;
        left: 10px;
        width: 100px;

        background-color: rgb(170, 80, 66);
        font-size: 18px;
        text-align: center;
        border-radius: 8px;
        padding: 5px;
      }
      .navBar {
        width: 100%;
        text-align: center;
      }
      .navBar a {
        margin-left: 10%;
        margin-right: 10%;
      }
      .signup {
        width: 150px;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(170, 80, 66);
        border-radius: 3px;
        font-size: 25px;
        margin-top: 10px;
        position: absolute;
        left: 10px;
        outline: none;
        border: none;
        -webkit-appearance: none;
      }
      @media screen and (min-width: 768px) {


        #login {
          width: 500px;
          display: block;
          top: 40%;
          left: 50%;
          transform: translateX(-50%);
        }


      }
      @media screen and (max-width: 320px) {
        .userInput {
          width: 100px;
        }
        #submit {
          width: 100px;

        }
        .signup {
          width: 100px;
        }
      }



    </style>
  </head>
  <body>
    <div class = "backdrop">
      <div class = "error" id = "error">
        <%=error%>
      </div>
      <div style = "width: 100%; height: 100px; display: block;">

      </div>
      <div id = "login">
        <form id = "inputs" method = "POST" action = "/login">
          <div class = "labelInput"><label for "logname">Username: </label><div class = "iconContainer selectGreen"><div class = "icon"><img src = "/public/icons/username.svg" class = "usernameIcon"></div><input type = "text" name = "logname" placeholder = "Enter Username..." class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div></div>
          <br>
          <div class = "labelInput"><label for "logword">Password: </label><div class = "iconContainer"><div class = "icon"><img src = "/public/icons/password.svg" class = "passwordIcon"></div><input type = "password" name = "logword" placeholder = "Enter Password..."class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div></div>
          <br>
          <input type = "submit" id = "submit" />
        </form>

        <a href = "/signup" class = "signup" style = "color: rgb(216, 215, 143)">sign up</a>
        <br>
      </div>
      <div class = "createSchool">
        <a href = "/create-school" style = "text-decoration: none;">Create School</a>
      </div>
    </div>
  </body>
</html>
