<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>PVSS student website | Periodic Table</title>
    <link rel = "shortcut icon" type = "image/x-icon" href = "public/images/favicon.ico" />
    <link rel = "shortcut icon" type = "image/ico" href = "public/images/favicon.ico" />
    <script src = "public/js/periodicTable.js"></script>
    <script>
      window.onload = function() {
        let blocks = document.getElementsByTagName("td");
        counter = 0;
        for (var i = 0; i < blocks.length; i++) {
          if (blocks[i].classList.contains("none")) {

          } else {
            blocks[i].style.border = "1px solid black";
            blocks[i].style.height = "50px";
            blocks[i].style.padding = "0px";
            blocks[i].classList += periodicTable[counter].groupBlock.split(" ").join("");
            blocks[i].id = periodicTable[counter].name;
            blocks[i].setAttribute("onclick", "clickFunction(this)");
            var holder = document.createElement("div");
            holder.className = "infoHolder";
            var number = document.createElement("div");
            number.className = "atomicNumber";
            number.innerHTML = periodicTable[counter].atomicNumber;
            var symbol = document.createElement("symbol");
            symbol.className = "symbol";
            symbol.innerHTML = periodicTable[counter].symbol;
            var name = document.createElement("div");
            name.className = "name";
            name.innerHTML = periodicTable[counter].name;
            var mass = document.createElement("div");
            mass.className = "atomicMass";
            mass.innerHTML = periodicTable[counter].atomicMass.toString().substring(0, 6).split("(").join("");
            holder.appendChild(number);
            holder.appendChild(symbol);
            holder.appendChild(name);
            holder.appendChild(mass);
            blocks[i].appendChild(holder);
            counter++;
          }
        }
      }
      function clickFunction(node) {
        let element = node.id;
        for (var i = 0; i < periodicTable.length; i++) {
          if (periodicTable[i].name === element) {
            element = periodicTable[i];
          }
        }
        makeModalBox(element);
      }

      function makeModalBox(element) {
        let modal = document.getElementById("backGround");
        let box = document.getElementById("elementModal");
        box.innerHTML = "name: " + element.name + "<br>symbol: " + element.symbol + "<br>atomic number: " + element.atomicNumber.toString() + "<br>atomic mass: " + element.atomicMass + "<br>density( " +(element.standardState === "gas" ? ("kg/l) :") : ("g/cm<sup>3</sup>): ")) + element.density +  "<br>standard state (273.15K and 101.3Kpa): " + element.standardState + "<br>melting point (C): " + (element.meltingPoint-273).toString() + "&deg" + "<br>boiling point (C): " + (element.boilingPoint-273) + "&deg" + "<br>electron negativity: " + element.electronegativity.toString() + "<br>oxidation states: " + element.oxidationStates + "<br>bonding type: " + element.bondingType;
        var leftArrow = document.createElement("div");
        var rightArrow = document.createElement("div");
        leftArrow.className = "leftArrow";
        rightArrow.className = "rightArrow";
        leftArrow.setAttribute("onclick", "moveFunction('left', " + element.atomicNumber.toString() + ")");
        leftArrow.innerHTML = "&larr;";
        rightArrow.setAttribute("onclick", "moveFunction('right', " + element.atomicNumber.toString() + ")");
        rightArrow.innerHTML = "&rarr;";
        box.appendChild(leftArrow);
        box.appendChild(rightArrow);
        modal.style.visibility = "visible";
        box.style.visibility = "visible";
      }
      function closeFunction() {
        let modal = document.getElementById("backGround");
        let box = document.getElementById("elementModal");
        modal.style.visibility = "hidden";
        box.style.visibility = "hidden";
      }
      function moveFunction(direction, number) {
        number = parseInt(number) + (direction === "left" ? -1 : 1);
        if (number === 0) {
          number = 118;
        } else if (number === 119) {
          number = 0;
        }
        var element;
        for (var i = 0; i < periodicTable.length; i++) {
          if (periodicTable[i].atomicNumber === number) {
            element = periodicTable[i];
          }
        }
        makeModalBox(element);
      }

    </script>
    <style>
      html {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      * {
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 8px;

      }
      .periodicTable {
        display: block;
        width: 900px;
        margin: auto;
        border-collapse: collapse;
        position: absolute;
        top: 50px;


      }
      .periodicTable tr {

      }
      .periodicTable td {
        position: relative;

        width: 50px;

        /* border: 1px solid black; */
      }
      .thin {

        background-color: red;
      }
      .none {
        visibility: hidden;
      }
      .infoHolder {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
      .name {
        position: absolute;
        top: 22px;
        left: 0px;
        right: 0px;
      }
      .symbol {
        position: absolute;
        font-size: 15px;
        top: 7px;
      }
      .atomicMass {
        position: absolute;
        top: 30px;
      }
      .noblegas {
        background-color: #00a5ff;
      }

      .alkalimetal {
        background-color: #ff3535;
      }
      .alkalineearthmetal {
        background-color: #ff7a28;
      }
      .metalloid {
        background-color: #00ba4a;
      }
      .nonmetal {
        background-color: #7ccdff;
      }
      .halogen {
        background-color: #8844c4;
      }
      .lanthanoid {
        background-color: #47c689;
      }
      .actinoid {
        background-color: #c64949;
      }
      .transitionmetal {
        background-color: #ffe928;
      }
      .metal {
        background-color: #5b635e;
      }
      .post-transitionmetal {

      }
      .display {
        width: 500px;
        height: 200px;
        position: absolute;
        left: 100px;
        top: 0px;
      }
      .identifier {
        position: relative;
        display: inline-block;
        margin: 10px;
        width: 90px;
        height: 30px;
        font-size: 12px;
        vertical-align: middle;
      }
      .color {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .backGround {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        visibility: hidden;
      }
      .elementModal {
        position: fixed;
        left: 50px;
        right: 50px;
        top: 50px;
        bottom: 50px;
        background-color: white;
        visibility: hidden;
        text-align: center;
        font-size: 18px;
      }
      .leftArrow {
        position: absolute;
        width: 70px;
        height: 70px;
        bottom: 0px;
        left: 0px;
        background-color: grey;
        font-size: 40px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
      .rightArrow {
        position: absolute;
        width: 70px;
        height: 70px;
        bottom: 0px;
        right: 0px;
        background-color: grey;
        font-size: 40px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
      /* .bottom {
        visibility: visible;
        box-sizing: border-box;
        height: 50px;
        position: absolute;
        top: 25px;
        background-color: #528ff2;
        border-radius: 50px;
        z-index: -40;

      }
      .side {
        visibility: visible;
        box-sizing: border-box;
        background-color: #528ff2;
        z-index: -5;
        border-bottom-left-radius: 25px;
        height: 50px;
        position: absolute;
        left: 25px;

      }
      .small {
        visibility: visible;
        box-sizing: border-box;
        background-color: #528ff2;
        z-index: -5;
        height: 50px;
        position: absolute;
        left: 25px;
      } */
      @media screen and (min-width: 768px) {
        .periodicTable {
          display: block;
          width: 900px;
          margin: auto;
          border-collapse: collapse;
          position: absolute;
          top: 100px;
          left: 200px;
          right: 200px;
        }
        .display {

          width: 70%;
          height: 200px;

          position: absolute;
          left: 15%;
          right: 15%;
          top: 700px;
        }
        .elementModal {
          width: 500px;
          height: 700px;
          position: fixed;
          left: 50%;
          transform: translateX(-50%);
          top: 200px;
        }
      }
    </style>
  </head>
  <body>
    <div style = "position: fixed; top: 3px; left: 15px; display: inline; z-index: 50000">
      <a id = "back" href = "/" style = "text-decoration:none;  font-size: 40px; color: black">&#8592;</a>
    </div>
    <table class = "periodicTable" id = "periodicTable" onclick = >
      <tr>
        <td></td>
        <td colspan="16"  class = "none"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="10" class = "none"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="10"  class = "none"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class = "none"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class = "none"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="18" class = "none" style = "height: 50px"></td>
      </tr>
      <tr>
        <td colspan="2" class = "none"></td>
        <td class = "none"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class = "none"></td>
        <td class = "none side"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class = "display" id = "display">
      <div class = "identifier">Noble<br>Gases: <div class = "color noblegas"></div></div>
      <div class = "identifier">Alkali<br>Metals: <div class = "color alkalimetal"></div></div>
      <div class = "identifier">Alkaline<br>Earth<br>Metals: <div class = "color alkalineearthmetal"></div></div>
      <div class = "identifier">Transition<br>Metals: <div class = "color transitionmetal"></div></div>
      <div class = "identifier">Halogens:<div class = "color halogen"></div></div>
      <div class = "identifier">Metals: <div class = "color metal"></div></div>
      <div class = "identifier">Metalloids: <div class = "color metalloid"></div></div>
      <div class = "identifier">Lanthanides: <div class = "color lanthanoid"></div></div>
      <div class = "identifier">Actinides: <div class = "color actinoid"></div></div>
      <div class = "identifier">Non<br>Metals: <div class = "color nonmetal"></div></div>
    </div>
    <div class = "backGround" id = "backGround" onclick = "closeFunction()">

    </div>
    <div class = "elementModal" id = "elementModal">

    </div>
  </body>
</html>
