<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <title></title>
    <style>
      * {
        font-family: sans-serif;
      }
      input {
        font-size: 18px
      }
    </style>
  </head>
  <body>
    <form method = "get" action = "/remote-schedule">
      username: <input type = "text" name = "username" />
      <br>
      password: <input name = "password" type = "password" />
      <br>
      <input type = "submit" class = "submit" />
    </form>
    <br>
    Note : due to the size of loading file, it may take a second for the courses to be added. be patient, don't click submit again. It will redirect you when complete
  </body>
</html>
