<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "The PVSS student website. View your courses, schedule, resources, and more here. Made by a PVSS student for PVSS students." />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Signup</title>
    <script>

    </script>
    <style>
      * {
        font-family: sansFont, sans-serif;
        box-sizing: border-box;
        color: rgb(216, 215, 143);
      }
      @font-face {
        font-family: sansFont;
        src: url("/public/fonts/LANENAR_.ttf")
      }
      body {
        padding: 0px;
        margin: 0px;
        background-color: rgb(79, 49, 48);
        font-size: 15px;
      }
      /* .backdrop {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;

      } */
      /* #login {
        width: 90%;
        height: 50%;
        display: block;
        margin: auto;
        background-color: white;
        border-radius: 15px;
        margin-top: 15%;
      } */
      html {
        -webkit-text-size-adjust: 100%;
      }
      #login {
        display: block;
        margin: auto;
        margin-top: 0px;
        width: 90%;

      }
      #inputs {
        position: absolute;
        top: 10px;
        width: 90%;
      }
      .userInput {
        display: block;
        width: 100%;
        height: 40px;
        outline: none;
        font-size: 18px;
        background-color: rgb(117, 55, 66);
        margin-bottom: 10px;
        border: 1px solid black;
      }
      #submit {
        width: 100%;
        height: 60px;
        background-color: rgb(170, 80, 66);
        -webkit-appearance: none;
        font-size: 25px;

        margin-top: 10px;
        outline: none;
        border: none;
      }
      #submit:active {
        background-color: #0093f1;
      }
      .error {
        color: red;
        width: 100%;
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 30px;

      }
      .login {
        position: fixed;
        bottom: 45px;
        width: 50%;
        left: 25%;
        text-align: center;
        font-size: 15px;
      }

      @media screen and (max-width: 320px) {
        .login {
          bottom: 15px;
        }
      }
      @media screen and (min-width: 768px) {
        .inputLabel {
          display: block;
          width: 400px;
          margin: auto;

        }
        #submit {
          width: 400px;
          display: block;
          margin: auto;
        }
        #login {

        }
        #inputs {
          display: block;
          position: relative;
          border: 1px solid black;
          width: 500px;
          margin: auto;
          margin-top: 60px;

        }
        .userInput {
          margin-bottom: 35px;
          border: 1px solid var(--border-color);
        }
      }



    </style>
  </head>
  <body>
    <div class = "backdrop">
      <!-- <div id = "access">

      </div> -->
      <div class = "error">
        <%=error%>
      </div>
      <div id = "login">
        <form id = "inputs" method = "POST" action = "/signup">
          <div class = "inputLabel" style = "margin-top: 50px"><label for "firstName" >First Name: </label><input value = "<%=data[1]%>" type = "text" name = "firstName" placeholder = "Enter First Name..." class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div>

          <div class = "inputLabel"><label for "lastName" >Last Name: </label><input value = "<%=data[2]%>" type = "text" name = "lastName" placeholder = "Enter lastName..." class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div>

          <div class = "inputLabel"><label for "email" >Username: </label><input value = "<%=data[0]%>" type = "text" name = "username" placeholder = "Enter Username..." class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div>

          <div class = "inputLabel"><label for "password">Password: </label><input type = "password" name = "password" placeholder = "Enter Password..."class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div>

          <div class = "inputLabel"><label for "passwordConf">Confirm Password: </label><input type = "password" name = "passwordConf" placeholder = "Re-Enter Password..."class = "userInput" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" maxlength="40"/></div>

          <input type = "submit" id = "submit" style = "margin-bottom: 50px">
        </form>
        <!-- <center><div class = "login"><i><h6>already have an account? <a href = "/login">login</a></h6></i></div></center> -->
      </div>
    </div>
  </body>
</html>
